html { 
    background: url('whitenotebook.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 50px;
    color:  black;
    margin-bottom: 0;
    font-weight: normal;
}

h2 {
    font-size: 18px;
    color: black;
    margin-top: 0;
}

p {
    color:black;
    ;
}


.me {
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: #000000;
}



#wrapper {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 40px;
    text-align: right;
    font-size: 14px;
    margin-top: 50px;
}


.grey {
    height: 3px;
    background-color: #bfbfbf;
    border: none;
    width: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  li a:hover {
    background-color: #111;
  } 

  ul {
    position: fixed;
    top: 0;
    width: 35%;
  }